:host {
  display: block;
  width: 100%;
}

.ng-field {
  width: 521px;

  &__text-area {

    ::ng-deep {
      width: 100%;
      height: 181px;

      ::-webkit-input-placeholder {
        text-align: left;
      }

      :-moz-placeholder {
        /* Firefox 18- */
        text-align: left;
      }

      ::-moz-placeholder {
        /* Firefox 19+ */
        text-align: left;
      }

      :-ms-input-placeholder {
        text-align: left;
      }
    }
  }
}
