:host {
    display: block;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 35px 0;
    height: var(--header-height);
    &__link {
        margin-right: 35px;
        color: var(--primary-default);
        cursor: pointer;
        &--active {
            color: #000000;
        }
    }
}
