<questionnaire-header></questionnaire-header>
<div class="container">
  <div class="row">

    <div class="col-12">
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-12 col-md-8">
      <section id="questionnaire-personal-info" class="item">
        <div class="item__icon">
          <img src="./assets/icons/personal-info.svg">
        </div>
        <div class="item__title">
          Личная информация
        </div>
        <div class="item__content">
          <questionnaire-personal-info></questionnaire-personal-info>
        </div>
      </section>
    </div>
  </div>

  <div class="row">

    <div class="col-12">
      <section id="questionnaire-experience" class="item">
        <div class="item__icon">
          <img src="./assets/icons/experience.svg">
        </div>
        <div class="item__title">
          Расскажите о своем опыте
        </div>
        <div class="item__content">
          <questionnaire-experience></questionnaire-experience>
        </div>
      </section>
    </div>

  </div>


  <div class="row">
    <div class="col-12">
      <section id="questionnaire-js" class="item">
        <div class="item__icon">
          <img src="./assets/icons/experience.svg">
        </div>
        <div class="item__title">
          Уровень владения JavaScript
        </div>
        <div class="item__content">
          <questionnaire-js></questionnaire-js>
        </div>
      </section>
    </div>
  </div>

  <div class="row  justify-content-center">
    <div class="col-12 col-md-8">
      <section id="questionnaire-about" class="item">
        <div class="item__icon">
          <img src="./assets/icons/about.svg">
        </div>
        <div class="item__title">
          Расскажите о себе
        </div>
        <div class="item__subtitle">
          Напишите несколько предложений, чем привлекла наша вакансия
          и что вы ожидаете от работы у нас.
        </div>
        <div class="item__content">
          <questionnaire-about></questionnaire-about>
        </div>
      </section>

    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12">
      <section id="submit">
        <button mat-raised-button color="primary">Готово</button>
      </section>
    </div>
  </div>

</div>
