:host {
    display: block;
    height: calc(100vh - 94px);
    background-image: url('../../assets/images/questionnaire-background.png');
    background-repeat: no-repeat;

}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    width: 100%;
    &__icon {
        margin-bottom: 28px;
        width: 47px;
        height: 47px;
    }
    &__title {
        width: 100%;
        color: #1c1c1c;
        font-size: 30px;
        font-weight: 300;
        text-align: center;
    }
    &__subtitle {
        font-size: 16px;
        margin-top: 21px;
        text-align: center;
        width: 492px;
    }

    &__content {
        margin-top: 47px;
    }
}

section#submit {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 69px;
    margin-bottom: 10px;
}