<form>

<mat-form-field appearance="outline" class="ng-form-field">
    <mat-label>ФИО</mat-label>
    <input matInput placeholder="ФИО">
 </mat-form-field>

<mat-form-field appearance="outline" class="ng-form-field ng-form-field--select">
    <mat-label>Год рождения</mat-label>
    <mat-select>
      <mat-option value="1998">1998</mat-option>
      <mat-option value="1997">1997</mat-option>
      <mat-option value="1996">1996</mat-option>
      <mat-option value="1995">1995</mat-option>
      <mat-option value="1994">1994</mat-option>
      <mat-option value="1993">1993</mat-option>
    </mat-select>
 </mat-form-field>

<mat-form-field appearance="outline" class="ng-form-field">
    <mat-label>Место проживания</mat-label>
    <input matInput placeholder="Место проживания">
 </mat-form-field>

<mat-form-field appearance="outline" class="ng-form-field">
    <mat-label>Skype</mat-label>
    <input matInput placeholder="Skype">
 </mat-form-field>

<mat-form-field appearance="outline" class="ng-form-field">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="E-mail">
 </mat-form-field>


</form>
