<form>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="checkbox-col">
          <mat-checkbox class="checkbox-col__field">БЭМ/OOCSS</mat-checkbox>
          <mat-checkbox class="checkbox-col__field">Stylus/LESS/SASS</mat-checkbox>
          <mat-checkbox class="checkbox-col__field">Работаю с SVGS</mat-checkbox>
        </div>
      </div>


      <div class="col-12 col-md-4">
        <div class="checkbox-col">
          <mat-checkbox class="checkbox-col__field">Верстаю семантично</mat-checkbox>
          <mat-checkbox class="checkbox-col__field">ES2015/ES2016</mat-checkbox>
          <mat-checkbox class="checkbox-col__field">Gulp/GRUNT</mat-checkbox>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="checkbox-col">
          <mat-checkbox class="checkbox-col__field">Webpack</mat-checkbox>
          <mat-checkbox class="checkbox-col__field">jQuery</mat-checkbox>
          <mat-checkbox class="checkbox-col__field">Ипользую Git</mat-checkbox>
        </div>
      </div>
    </div>

  </div>

</form>
